obj/*
!obj/.keep
obj/tests/*
!obj/tests/.keep
*.npp
*.o
*.ali
*.db
.note_chain_data/
*.nc_refs
*.bundle
 
# LaTeX ignore files
Documentation/*.aux
Documentation/*.pdf
Documentation/*.ps
Documentation/*.log
Documentation/*.dvi
Documentation/*.tex~
Documentation/*.toc
Documentation/*.gz
